.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  text-align: center;
}

.dropdown {
    text-align: center;
    padding-top: 10px;
}

.trackList {
    padding: 10px;
    display: inline-block;
}

.channelList {
    width: 540px;
    height: 400px;
    padding-bottom: 20px;
    display: inline-block;
}



.channelButton {
    width: 100px;
    margin: 2px;
    transition: background-color 2s;
    border-radius: 3px;
    float: left;
}

.channelText, .channelTime {
    text-align: center;
}

h1 {
    text-align: center;
}

p {
    margin: auto;
    padding-left: 10px;
}